* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 85%;
    max-width: 1140px;
    margin: auto;
}

/* navbar  */
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    padding: 15px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}
.menu {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}

/* hero section */
.hero {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    display: block;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 24, 45, 0.7);
}

.hero-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.hero-container h1 {
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1.1;
}

.hero-container span {
    color: #4a9062;
}

.hero-container p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 750px;
    margin-bottom: 35px;
}

.badge {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 12px;
    margin-bottom: 25px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

/* button */
.btn-green {
    background-color: #4a9062;
    color: #ffffff;
    border: none;
    padding: 14px 28px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}


.btn-green:hover {
    background-color: #ffffff;
    color: #4a9062;
    border: 1px solid #4a9062;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid ;
    color: #4a9062;
    padding: 14px 28px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.btn-outline:hover {
     background-color: #ffffff;
    color: #4a9062;
    border: 1px solid #4a9062;
}



/*footer */
.footer {
    background-color: #001524;
    color: white;
    padding: 60px 0 30px 0;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-box p {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: right;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 22px;
}

.copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    color: #777777;
    border-top: 1px solid #112a3e;
    padding-top: 25px;
}


/* note-section */

.content {
    padding: 80px 0;
}

.problems {
    text-align: center;
}

.problems h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

.section-desc {
    color: #666;
    margin-bottom: 60px;
}

.problem-cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 30px;
    border: 1px solid #eee;
    border-radius: 12px;
}

.card img {
    height: 40px;
    margin-bottom: 15px;
}
.icon-bg {
    width: 45px;
    height: 45px;
    background-color: #ff5e5e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.icon-bg img {
    height: 20px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
}


/* second brain section */
.second-brain-section {
    padding: 80px 0;
}

.solution {
    display: flex;
    align-items: center;
    gap: 60px;
}

.solution-image, .solution-text {
    flex: 1;
}

.solution-image img {
    width: 100%;
}

.sub-label {
    color: #4a9062;
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.solution-text h3 {
    font-size: 38px;
    margin-bottom: 20px;
}
.sub-label {
    color: #4a9062;
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.solution-text h3 {
    font-size: 38px;
    margin-bottom: 20px;
}

.solution-text p {
    color: #666666;
    line-height: 1.6;
    margin-bottom: 25px;
}

.solution-text ul {
    list-style: none;
}

.solution-text li {
    margin-bottom: 12px;
    font-weight: bold;
    color: #333333;
}

/* early access section */
.early-access-section {
    padding: 50px 0 100px 0;
}

.cta-box {
    background-color: #f8f7f2;
    padding: 80px 40px;
    text-align: center;
    border-radius: 15px;
    width: 100%;
}

.cta-box h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.cta-box p {
    color: #666666;
    margin-bottom: 30px;
    max-width: 600px;
    margin: 0 auto 30px auto;
}
